<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net452" />
  <package id="DockPanelSuite" version="2.13.0" targetFramework="net452" />
  <package id="DockPanelSuite.ThemeVS2005Multithreading" version="2.13.0" targetFramework="net452" />
  <package id="osg" version="3.4.0.12" targetFramework="net452" />
  <package id="osgearth" version="2.6.5" targetFramework="net452" />
  <package id="osgnet" version="3.2.1.29" targetFramework="net452" />
</packages>